<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XOOK</title>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="manifest" href="/manifest.json">
    <!-- IOS support-->
    <!-- poner en href un icono de 96x96 desde la carpeta /icons/NombreDelIcon-->
    <link rel="apple-touch-icon" href="">
    <meta name="apple-mobile-web-app-status-bar" content="#aa7700"> 
</head>
<body>
    <p>hello world</p>
</body>
</html>