<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XOOK</title>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/moon-20-cufonfonts-webfont/style.css">
    <link rel="manifest" href="/manifest.json">
    <!-- IOS support-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#EF4B56">
    <meta name="apple-mobile-web-app-title" content="Xook">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/logohome.png">   
    <link rel="shortcut icon" href="/img/favicon.jpg" type="image/jpg" />
    <meta name="theme-color" content="#EF4B56">
</head>
<body>
    <div class="uk-height-large uk-flex-middle uk-background-cover uk-light" data-src="/img/home.png"  uk-img>
        <div id="navbar"></div>
        <div class="uk-flex uk-flex-center uk-flex-top">
            <img src="/img/logoIndex.png" alt="">           
         
        </div>
        <h1 class="uk-heading-medium uk-flex uk-flex-center uk-flex-middle uk-visible@m fLight">BIENVENIDO A XOOK</h1>
        <h1 class="uk-heading-small uk-flex uk-flex-center uk-flex-middle uk-hidden@m fLight" >Bienvenido a Xook</h1>

      </div>
      <br>
      <h1 class="uk-article-title uk-flex uk-flex-center center fLight ">La mejor manera de aprender y enseñar.</h1>
      <p class=" uk-text-lead fLight uk-flex uk-flex-center center">Recibe tutorías virtuales personalizadas por un bajo precio acerca del tema que quieras<br> o incluso gana dinero impartiendo tus conocimientos a otros usuarios.</p>
       <br>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <div class="uk-animation-toggle" tabindex="0">                
                <div class="uk-card uk-card-small secondary uk-card-body uk-animation-slide-top-small">
                    <img class="uk-align-center" src="/img/tortuga.png" width="150px" alt="">
                    <h1 class="uk-article-title fLight">Tutoría nivel bajo</h1>
                    <p>Las tutorías de nivel bajo tienen más tiempo para ser resueltas y no son tan urgentes. <br> Por lo tanto, si solicitas una tutoría de nivel bajo aparecerá en el feed de otros usuarios de manera normal.</p>
                    <p class="uk-text-lead"> <b>Estas tienen un costo de $45.00 pesos</b> </p>
                </div>
            </div>
            <div class="uk-animation-toggle" tabindex="0">                
                <div class="uk-card uk-card-small third uk-card-body uk-animation-slide-top-small">
                    <img  class="uk-align-center" src="/img/liebre.png" width="150px" alt="">
                    <h1 class="uk-article-title fLight">Tutoría nivel medio</h1>
                    <p>Las tutorías de nivel medio son de urgencia moderada para ser resueltas. <br> Si solicitas una tutoría de nivel medio, esta aparecerá más frecuentemente en los feeds de otros usuarios.</p>
                    <p class="uk-text-lead"> <b>Estas tienen un costo de $55.00 pesos</b> </p>
                </div>
            </div>
            <div class="uk-animation-toggle" tabindex="0">
                <div class="uk-card uk-card-small  primary uk-card-body uk-animation-slide-top-small">
                    <img  class="uk-align-center" src="/img/jaguar.png" width="180px" alt="">
                    <h1 class="uk-article-title fLight">Tutoría nivel alto</h1>
                    <p>Las tutorías de nivel alto son las que necesitan ser resueltas urgentemente. <br> Si solicitas una tutoría de nivel alto, esta aparecerá en las solicitudes destacadas en el feed de otros usuarios.</p>
                    <p class="uk-text-lead"> <b>Estas tienen un costo de $70.00 pesos</b> </p>
                </div>
            </div>
        </div>

        <br>
        <div class="uk-background-muted uk-padding uk-panel ">
        <div class="uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-2-3@m">
                    <p class="uk-article-title fLight">Imparte tutorías de un día o de varios según tus horarios.</p>
                </div>
                <div class="uk-width-1-5@m uk-flex-first@m">
                    <img class="uk-align-left uk-margin-remove-adjacent" src="img/agenda.png">
                </div>
            </div>
            <div class="uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-2-3@m uk-flex-first@m">
                    <p class="uk-article-title fLight">Recibe y realiza tu pago hacia tu tarjeta de crédito, débito o paypal.</p>
                </div>
                <div class="uk-width-1-5@m">
                    <img class=" uk-margin-remove-adjacent" src="img/payments.png">
                </div>
            </div>
        </div>
        <div class="uk-padding uk-panel">
            <div class="uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-2-3@m">
                    <p class="uk-article-title fLight">Organizate con otros usuarios desde el chat.</p>
                </div>
                <div class="uk-width-1-5@m uk-flex-first@m">
                    <img class="uk-align-left uk-margin-remove-adjacent" src="img/tutor.svg">
                </div>
            </div>
            <div class="uk-flex-middle uk-flex-center" uk-grid>
                <div class="uk-width-2-3@m uk-flex-first@m">
                    <p class="uk-article-title fLight">Organizate con otros usuarios desde el chat.</p>
                </div>
                <div class="uk-width-1-5@m">
                    <img class=" uk-margin-remove-adjacent" src="img/chat.png">
                </div>
            </div>
        </div> <br>
        <div id="footer"></div>
        
</body>
<script src="js/navbar.js"></script>
<script src="js/footer.js"></script>
<script src="/js/app.js"></script>
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
</html>