<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XOOK</title>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="manifest" href="/manifest.json">
    <!-- IOS support-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#EF4B56">
    <meta name="apple-mobile-web-app-title" content="Xook">
    <link rel="apple-touch-icon" sizes="57x57" href="../public/img/logo57x57.png">
    
</head>
<body background-color="#292929">
    <div class="uk-height-large uk-flex-middle uk-background-cover uk-light" data-src="../img/home.png"  uk-img>
        <nav id="nav" class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">    
                <a class="uk-navbar-item uk-logo" href="#"><img src="../img/logo_nav.png" width="150px" alt=""></a>        
            </div>
            <div class="uk-navbar-right uk-visible@m" >
                <form class= "uk-navbar-item" action="javascript:void(0)">
                    <button class="uk-button uk-button-default" style="border-radius: 1em;">Iniciar Sesión</button> &nbsp;
                    <button class="uk-button uk-button-primary primary" style="border-radius: 1em;">Registrarse</button>
                </form>
            </div>  
            <h1>HOli</h1>
            <div class="uk-navbar-right uk-hidden@m" >
                <div class="uk-inline">
                    <button class="uk-button-small uk-button-primary primary" type="button" style="border-radius: 0.7em;"><span uk-icon="icon:chevron-down">Comenzar</span></button>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active"><a href="#"><span uk-icon="icon:sign-in"></span>Iniciar sesión</a></li>
                            <li class="uk-active"><a href="#"><span uk-icon="icon:file-edit"></span>Registrarse</a></li>
                        </ul>
                </div>
            </div> 
        </nav>
        <div class="uk-flex uk-flex-center uk-flex-top">
            <img src="../img/logo162x173.84.png" alt="">           
         
        </div>
        <h1 class="uk-heading-medium uk-flex uk-flex-center uk-flex-middle uk-visible@m">BIENVENIDO A XOOK</h1>
        <h1 class="uk-heading-small uk-flex uk-flex-center uk-flex-middle uk-hidden@m">Bienvenido a Xook</h1>

      </div>
    
    
</body>
</html>