    input.uk-checkbox:checked {
    background-color: #EF4B56;
    }
    
    input.uk-checkbox:checked:focus {
    background-color: #EF4B56;
    }
    a.uk-link-heading:link{
        color: white;
    }
    #forgot{
        color: white;
    }
    #forgot:hover{
        color: #EF4B56;
    }
.primary{
    color: #FFFFFF;
    background-color: #EF4B56 !important;
    color: white !important;
}
.secondary{
    color: #FFFFFF;
    background-color: #59BEA0;
}
.third{
    color: #FFFFFF;
    background-color: #F2B25C;
}
body{
    background-color: #292929 !important;
}
#usrname{
    color: white;
    background: rgb(255, 255, 255, 0.2);
}
#usricon{
    color: #ffffff;
}
#nav{
    background-color: #1D1F21;
    opacity: 87%;
}
#remember{
    color: white;
}

.center {
    text-align: center;
  }
.fLight{
    font-family: 'Moon 2.0 Light';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    src: local('Moon 2.0 Light'), url('Moon2.0-Light.woff') format('woff');
    }
.fBold {
    font-family: 'Moon 2.0 Bold';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    src: local('Moon 2.0 Bold'), url('Moon2.0-Bold.woff') format('woff');
    }
.fNormal {
        font-family: 'Moon 2.0 Regular';
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        src: local('Moon 2.0 Regular'), url('Moon2.0-Regular.woff') format('woff');
        }
.color{
    color: white;
}
